html, body, h1, img, input
{
    border: none;
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

html
{
    scrollbar-arrow-color: transparent;
    scrollbar-darkshadow-color: transparent;
    scrollbar-face-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-shadow-color: transparent;
    scrollbar-track-color: transparent;
    scrollbar-3dlight-color: transparent;
}

body
{
    background-color: White;
    background-clip: initial;
    background-image: url('../images/stylish-background.jpg');
    background-origin: initial;
    background-position-x: 50%;
    background-position-y: 0%;
    font: .75em Georgia, Times, serif;
}

input[type=text]
{
    border: solid 2px #E8E8E8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 22px;
}

h1
{
    color: #202020;
    display: inline;
    font-style: italic;
    font-weight: bold;
    height: 49px;
    letter-spacing: -1px;
    line-height: 49px;
}

h2
{
    color: #202020;
    display: inline;
    font-style: italic;
    font-weight: bold;
    height: 25px;
    letter-spacing: -1px;
    line-height: 25px;
}

ul
{
    list-style: none;
}

.page
{
    height: 90%;
    margin: 20px 2.5%;
    padding: 0;
    width: 95%;
}

.footer
{
    background-image: url('../images/footer.png');
    height: 37px;
    margin-top: 0px;
    padding-top: 7px;
    width: 100%;
    z-index: 1;
}

.footer textarea
{
    border: solid 2px #E8E8E8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    float: left;
    height: 22px;
    margin-left: 20px;
    margin-right: 5px;
    width: 75%;
}

.footer input[type=submit]
{
    border: solid 1px #E8E8E8;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    color: Black;
    height: 30px;
    font-family: Georgia, Times, serif;
    font-size: small;
    font-variant: small-caps;
    max-width: 70px;
    min-width: 70px;
    width: 5%;
}

.footer input[type=submit]:hover
{
    color: White;
}

.content
{
    background-clip: padding-box;
    background-image: url('../images/brushed-alu.png');
    height: 90%;
    margin: 0;
}

.chat-wrapper
{
    float: left;
    height: 100%;
    width: 78%;
}

.chat
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    position: relative;
    scrollbar-arrow-color: #000000;
    scrollbar-darkshadow-color: #000000;
    scrollbar-face-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-shadow-color: #E8E8E8E;
    scrollbar-track-color: #E8E8E8;
    scrollbar-3dlight-color: #E8E8E8E;
}

.members-wrapper
{
    float: right;
    height: 100%;
    max-width: 280px;
    width: 22%;
}

.members
{
    background-image: url('../images/background-lines.png');
    float: right;
    height: 100%;
    margin: 10px 10px 0 2%;
    overflow: hidden;
    position: relative;
    width: 90%;
}

.members-pinned h1, .members-pinned ol
{
    display: none;
}

.members ol
{
    font-style: italic;
    font-family: Georgia, Times, serif;
    font-size: 24px;
    color: #333333;
    margin: 0;
}

.members ol li
{
}

.members ol li p
{
    border-left: 1px solid #999;
    color: #333333;
    font-family: Arial;
    font-size: 13px;
    font-style: normal;
    padding: 8px;
}

.members ol li p em
{
    display: block;
}

.members ol li p em img
{
    margin-left: 10px;
}

.status-typing p em img
{
    display: inline;
}

.status-ready p em img
{
    display: none;
}

.members-header
{
    background-image: url('../images/gradient-background.gif');
    cursor: pointer;
    min-height: 50px;
    padding-left: 20px;
}

.members-header img
{
    float: right;
    margin: 10px 10px 0 0;
}

.avatar-wrapper
{
    height: 30px;
    margin-bottom: 10px;
    width: 50%;
}

.avatar-wrapper img
{
    height: 50px;
    width: 50px;
    z-index: 5;
}

.avatar-wrapper p
{
    font-style: italic;
    margin-top: 10px;
}

.avatar-wrapper-left
{
    float: left;
    text-align: left;
}

.avatar-wrapper-right
{
    float: right;
    text-align: right;
}

.avatar-wrapper-left img
{
    float: left;
}

.avatar-wrapper-right img
{
    float: right;
}

.avatar-wrapper-left p
{
    margin-left: 70px;
}

.avatar-wrapper-right p
{
    margin-right: 70px;
}

.avatar-wrapper-left + .message-right
{
    margin-top: -20px;
}

.avatar-wrapper-right + .message-left
{
    margin-top: -20px;
}

.message
{
    background: #5a8f00;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background: -moz-linear-gradient(#b8db29, #5a8f00);
    background: -o-linear-gradient(#b8db29, #5a8f00);
    background: linear-gradient(#b8db29, #5a8f00);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    color: #fff;
    margin: 10px;
    min-height: 10px;
    padding: 10px 30px;
    position: relative;
    width: 60%;
    z-index: 1;
}

.message:after
{
    border-style: solid;
    border-color: transparent #5a8f00;
    bottom: -30px;
    content: "";
    display: block;
    position: absolute;
    width: 0;
}

.message a
{
    color: White;
}

.message + div
{
    clear: both;
}

.message-left
{
    float: left;
}

.message-left:after
{
    border-width: 0 0 30px 20px;
    left: 50px;
}

.message-right
{
    background: #E0A830;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#FFF0B0), to(#E0A830));
    background: -moz-linear-gradient(#FFF0B0, #E0A830);
    background: -o-linear-gradient(#FFF0B0, #E0A830);
    background: linear-gradient(#FFF0B0, #E0A830);
    float: right;
}

.message-right:after
{
    border-color: transparent #E0A830;
    border-width: 0 20px 30px 0px;
    right: 50px;
}

.timestamp
{
    color: Black;
    font-style: italic;
}

.shadowed
{
    background-clip: padding-box;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.transparent-border
{
    border: 8px solid transparent;
}

.rounded-border
{
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.message-divider
{
    height: 10px;
    width: 100%;
}

.header
{
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#4BB5F3), to(#002944));
    background: -moz-linear-gradient(#4BB5F3, #002944);
    background: -o-linear-gradient(#4BB5F3, #002944);
    background: linear-gradient(#4BB5F3, #002944);
    height: 50px;
    text-align: left;
    width: 100%;
}

.header-logo
{
    float: left;   
    padding-left: 2.5%; 
}

.header-logo h1
{
    color: White;
    display: inline;
    font-size: 20pt;
    font-style: italic;
    letter-spacing: 0px;
}

.left-header-logo span
{
    margin-left: 25px;
}

.settings
{
    color: White;
    float: right; 
    font-size: 14pt;
    font-style: italic;
    padding-right: 2.5%;
    padding-top: 10px;
}

#whiteboardCanvas
{
    border: solid 3px Black;
    height: 600px;
    width: 800px;
}

#whiteboardHolder img
{
    border: none;
    height: 20px;
    width: 20px;
}

/* common settings checkbox and radiobutton */
input[type="checkbox"], input[type="radio"]
{
    -khtml-appearance: none;
    background: url('../images/radio-and-check-box-sprite.gif') no-repeat;
    height: 20px;
    width: 20px;
    vertical-align: middle;
}

input[type="checkbox"]
{
    background-position-x: left;
}

input[type="radio"]
{
    background-position-x: right;
}

input[type="checkbox"]:hover, input[type="radio"]:hover
{
    background-position-y: -40px;
}

input[type="checkbox"]:checked, input[type="radio"]:checked
{
    background-position-y: -20px;
}

input[type="checkbox"]:checked:hover, input[type="radio"]:checked:hover
{
    background-position-y: -60px;
}

input[type="radio"]:disabled, input[type="checkbox"]:disabled
{
    opacity: .3;
}
